$main: 1140px;
$md: 960px;
$sm: 768px;
$xs: 575px;

@mixin main {
  @media (max-width: $main) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin font-face ($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin svg ($color) {
  svg {
    .fill {
      fill: $color;
    }
    .stroke {
      stroke: $color;
    }
  }
}
