// primary
$color-primary: #1867c0;
$color-info: #90CAF9;
$color-error: #ff5252;
$color-danger: #fb8c00;

// text
$color-text-dark: #2F3439;

// advanced
$color-white: #ffffff;
$color-light: rgba(0, 0, 0, 0.12);
$background-light: #BBDEFB;
