// primary
$color-primary: #1867c0;
$color-info: #90CAF9;
$color-error: #ff5252;
$color-danger: #fb8c00;

// text
$color-text-dark: #2F3439;

// advanced
$color-white: #ffffff;
$color-light: #e0e0e0;
$color-disabled: #a8a7a7;
$background-light: #BBDEFB;
